<div class="directionButtons leftDirections">
	<ul>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/services/web" class="white-text">做网站</a></button></li>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/services/app" class="white-text">做手机App</a></button></li>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/services/photo" class="white-text">找摄影／设计</a></button></li>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/projects" class="white-text">作品展示</a></button></li>
	</ul>
</div>


<div class="directionButtons rightDirections">
	<ul>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/tut" class="white-text">学编程</a></button></li>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/blog" class="white-text">博客</a></button></li>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/about" class="white-text">关于本成科技</a></button></li>
		<li><button class="btn-large deep-orange darken-3 white-text"><a href="/projects/current" class="white-text">创业之路</a></button></li>
	</ul>
</div>