<div class="directionButtons leftDirections">
	<ul>
		<li><button class="btn white black-text">做网站</button></li>
		<li><button class="btn white black-text">做手机App</button></li>
		<li><button class="btn white black-text">找摄影／设计</button></li>
		<li><button class="btn white black-text">作品范例</button></li>
	</ul>
</div>


<div class="directionButtons leftDirections">
	<ul>
		<li><button class="btn white black-text">学编程</button></li>
		<li><button class="btn white black-text">博客</button></li>
		<li><button class="btn white black-text">找摄影／设计</button></li>
		<li><button class="btn white black-text">作品范例</button></li>
	</ul>
</div>