 <nav class="deep-orange darken-3">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">本成科技</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">首页</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/services">提供服务</a></li>
        <li><a href="/projects">项目展览</a></li>
        <li><a href="/tut">视频教程</a></li>
        <li><a href="/blog">技术博客</a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><a href="/">首页</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/services">提供服务</a></li>
        <li><a href="/projects">项目展览</a></li>
        <li><a href="/tut">视频教程</a></li>
        <li><a href="/blog">技术博客</a></li>
      </ul>
    </div>
  </nav>
          
          <script>
                $(".button-collapse").sideNav();

          </script>