 <nav class="deep-orange darken-3">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">本成科技</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tut">Tutorials</a></li>
        <li><a href="/blog">Blog</a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home1</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tut">Tutorials</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
          
          <script>
                $(".button-collapse").sideNav();

          </script>