
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>
<div class="outer-container">
  <div class="banner" data--200-top="opacity: 1;" data-top-bottom="opacity: 0;">
    <div class="banner__image" data-0="transform: translateY(0px);" data-top-bottom="transform: translateY(300px);" style="background-image:url(http://www.zastavki.com/pictures/originals/2013/Nature___Seasons___Autumn_The_road_in_the_woods_in_autumn_043605_.jpg);"></div>
    <div class="banner__caption">
      <h1>Parallax fading banner</h1>
      <p>
        Using Skrollr with translateY and opacity. Simply scroll to see the effect.
      </p>
    </div>
  </div>
</div>


<script src="animated-banner.js"></script>